@keyframes fade{
    from{
        right: -100%;
        opacity: 0;
    } to {
        right: 0;
        opacity: 100%;
    }
}

@keyframes notif{
    from{
        right: -100%;
        opacity: 0;
    } to {
        right: 0;
        opacity: 100%;
    }
}

@keyframes timer{
    from{
        width: 0;
    } to {
        width: 100%;
    }
}